<template>
  <div>
    <canvas ref="sheet"></canvas>
  </div>
</template>

<script setup>
import Vex from 'vexflow'
import { defineProps, ref, onMounted, watch } from 'vue'

// property for clef and key signature
const props = defineProps({
  clef: {
    type: String,
    required: true,
    validator: (value) => ['treble', 'bass'].includes(value),
  },
  keySignature: {
    type: String,
    required: true,
  },
})

const sheet = ref(null)

onMounted(() => {
  drawNoteSheet(props.clef, props.keySignature, sheet.value)
})

watch(
  () => props.clef,
  () => {
    drawNoteSheet(props.clef, props.keySignature, sheet.value)
  }
)

watch(
  () => props.keySignature,
  () => {
    drawNoteSheet(props.clef, props.keySignature, sheet.value)
  }
)

function drawNoteSheet(clef, keySignature, sheet) {
  const { Renderer, Stave } = Vex.Flow
  const renderer = new Renderer(sheet, Renderer.Backends.CANVAS)

  renderer.resize(130, 80) // Adjust canvas height to fit the treble clef and key signature
  const context = renderer.getContext()
  const stave = new Stave(5, -20, 120)
  stave.addClef(clef).setContext(context)

  // Set the key signature for C minor (3 flats: Bb, Eb, Ab)
  stave.addKeySignature(keySignature)
  stave.draw()
}
</script>

<style>
canvas {
  /* border: 1px solid black; */
}
</style>
