<template>
  <div>
    <svg
      width="400"
      height="400"
      viewBox="0 0 400 400"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g id="Frame 1" clip-path="url(#clip0_1_2)">
        <circle
          id="Ellipse 1"
          cx="200"
          cy="200"
          r="197"
          fill="#3E414D"
          stroke="black"
          stroke-width="6"
        />

        <g id="Group 3">
          <path
            id="D#"
            d="M357.5 222H352.114V204.545H357.739C359.432 204.545 360.881 204.895 362.085 205.594C363.29 206.287 364.213 207.284 364.855 208.585C365.497 209.881 365.818 211.432 365.818 213.239C365.818 215.057 365.494 216.622 364.847 217.935C364.199 219.241 363.256 220.247 362.017 220.952C360.778 221.651 359.273 222 357.5 222ZM354.227 220.125H357.364C358.807 220.125 360.003 219.847 360.952 219.29C361.901 218.733 362.608 217.94 363.074 216.912C363.54 215.884 363.773 214.659 363.773 213.239C363.773 211.83 363.543 210.616 363.082 209.599C362.622 208.577 361.935 207.793 361.02 207.247C360.105 206.696 358.966 206.42 357.602 206.42H354.227V220.125ZM375.602 222L378.466 204.545H380.17L377.307 222H375.602ZM367.659 217.159L367.932 215.455H380.955L380.682 217.159H367.659ZM369.466 222L372.33 204.545H374.034L371.17 222H369.466ZM368.682 211.091L368.955 209.386H381.977L381.705 211.091H368.682Z"
            fill="black"
          />
          <line id="Line 2" x1="200" y1="199" x2="400" y2="199" stroke="black" stroke-width="2" />
        </g>
        <g id="Group 9">
          <path
            id="D#_2"
            d="M47.171 179H49.3869L42.9778 196.454H40.796L34.3869 179H36.6028L41.8187 193.693H41.9551L47.171 179ZM46.3528 185.818H37.421V183.943H46.3528V185.818Z"
            fill="black"
          />
          <line
            id="Line 2_2"
            x1="200"
            y1="202"
            x2="0.000362396"
            y2="202"
            stroke="black"
            stroke-width="2"
          />
        </g>
        <g id="Group 10">
          <path
            id="D#_3"
            d="M53.1829 274.295C53.6322 274.698 54.1034 275.02 54.5964 275.26C55.0873 275.508 55.5958 275.667 56.1218 275.738C56.643 275.811 57.1749 275.789 57.7178 275.672C58.2606 275.556 58.8051 275.34 59.3513 275.025C60.2469 274.507 60.9277 273.806 61.3938 272.92C61.86 272.034 62.0496 271.016 61.9627 269.866C61.8758 268.715 61.4546 267.486 60.6989 266.177C59.9432 264.868 59.0864 263.89 58.1286 263.242C57.1708 262.594 56.1844 262.255 55.1694 262.224C54.1545 262.194 53.1795 262.448 52.2446 262.988C51.3786 263.488 50.7224 264.113 50.2761 264.863C49.8277 265.62 49.6151 266.445 49.6381 267.337C49.659 268.237 49.9365 269.149 50.4706 270.074L49.8415 270.28L54.3881 267.655L55.3256 269.279L49.5685 272.603L48.631 270.979C47.9122 269.734 47.5529 268.498 47.5531 267.271C47.5484 266.047 47.8647 264.913 48.5021 263.869C49.1374 262.833 50.0553 261.969 51.256 261.276C52.5944 260.503 53.9522 260.139 55.3295 260.183C56.7018 260.231 58.0062 260.672 59.2425 261.507C60.4739 262.344 61.5498 263.56 62.4703 265.154C63.1606 266.35 63.6215 267.517 63.8528 268.656C64.082 269.803 64.0959 270.884 63.8947 271.9C63.6934 272.915 63.293 273.835 62.6934 274.66C62.0938 275.485 61.3093 276.177 60.34 276.737C59.5428 277.197 58.7302 277.506 57.9021 277.662C57.072 277.827 56.2598 277.846 55.4657 277.721C54.6695 277.603 53.9147 277.347 53.2011 276.952C52.4904 276.561 51.8545 276.04 51.2934 275.386L53.1829 274.295ZM36.667 269.974L42.9143 286.522L41.4381 287.374L35.1908 270.826L36.667 269.974ZM45.9664 270.195L46.5825 271.807L35.3045 278.319L34.6884 276.706L45.9664 270.195ZM41.9812 266.906L48.2285 283.454L46.7524 284.306L40.5051 267.758L41.9812 266.906ZM48.1148 275.961L48.7309 277.574L37.4529 284.085L36.8368 282.473L48.1148 275.961Z"
            fill="black"
          />
          <line
            id="Line 2_3"
            x1="200.75"
            y1="201.799"
            x2="27.5453"
            y2="301.799"
            stroke="black"
            stroke-width="2"
          />
        </g>
        <g id="Group 11">
          <path
            id="D#_4"
            d="M109.75 337.817C110.341 337.942 110.91 337.985 111.457 337.946C112.006 337.916 112.526 337.799 113.017 337.597C113.505 337.4 113.954 337.115 114.366 336.742C114.778 336.37 115.142 335.911 115.457 335.365C115.974 334.469 116.213 333.521 116.174 332.521C116.134 331.521 115.79 330.544 115.139 329.591C114.489 328.638 113.509 327.784 112.2 327.028C110.891 326.273 109.66 325.854 108.507 325.772C107.354 325.69 106.33 325.889 105.435 326.37C104.541 326.851 103.824 327.559 103.284 328.494C102.784 329.36 102.528 330.229 102.517 331.102C102.507 331.982 102.735 332.803 103.201 333.564C103.669 334.333 104.366 334.984 105.291 335.518L104.849 336.011L107.474 331.464L109.098 332.402L105.774 338.159L104.15 337.221C102.905 336.503 101.976 335.612 101.363 334.549C100.747 333.491 100.454 332.351 100.484 331.129C100.516 329.914 100.879 328.706 101.572 327.505C102.345 326.167 103.338 325.173 104.553 324.523C105.766 323.878 107.116 323.607 108.604 323.712C110.089 323.822 111.629 324.337 113.223 325.257C114.419 325.947 115.401 326.728 116.171 327.599C116.943 328.478 117.496 329.407 117.829 330.387C118.162 331.366 118.276 332.363 118.169 333.378C118.062 334.392 117.729 335.384 117.169 336.353C116.709 337.15 116.16 337.824 115.521 338.373C114.884 338.931 114.19 339.354 113.44 339.642C112.692 339.938 111.91 340.094 111.094 340.109C110.284 340.126 109.472 339.992 108.659 339.707L109.75 337.817Z"
            fill="black"
          />
          <line
            id="Line 2_4"
            x1="201.299"
            y1="201.25"
            x2="101.299"
            y2="374.455"
            stroke="black"
            stroke-width="2"
          />
        </g>
        <g id="Group 12">
          <path
            id="D#_5"
            d="M178.5 352.613H195.955V363.079H194.08V354.727H188.182V362.295H186.307V354.727H178.5V352.613ZM178.5 372.938L195.955 375.801V377.506L178.5 374.642V372.938ZM183.341 364.995L185.046 365.267V378.29L183.341 378.017V364.995ZM178.5 366.801L195.955 369.665V371.37L178.5 368.506V366.801ZM189.409 366.017L191.114 366.29V379.313L189.409 379.04V366.017Z"
            fill="black"
          />
          <line
            id="Line 2_5"
            x1="201.5"
            y1="200.5"
            x2="201.5"
            y2="400.5"
            stroke="black"
            stroke-width="2"
          />
        </g>
        <g id="Group 13">
          <path
            id="D#_6"
            d="M257.437 342.984L272.553 334.257L277.786 343.32L276.163 344.258L271.986 337.025L266.879 339.974L270.663 346.528L269.039 347.465L265.255 340.911L258.494 344.814L257.437 342.984Z"
            fill="black"
          />
          <line
            id="Line 2_6"
            x1="201.299"
            y1="199.75"
            x2="301.299"
            y2="372.955"
            stroke="black"
            stroke-width="2"
          />
        </g>
        <g id="Group 14">
          <path
            id="D#_7"
            d="M320.984 295.176L329.712 280.06L338.834 285.327L337.897 286.951L330.604 282.741L327.656 287.848L334.476 291.786L333.538 293.41L326.718 289.472L323.752 294.609L331.163 298.888L330.225 300.511L320.984 295.176Z"
            fill="black"
          />
          <line
            id="Line 2_7"
            x1="200.75"
            y1="199.201"
            x2="373.955"
            y2="299.201"
            stroke="black"
            stroke-width="2"
          />
        </g>
        <g id="Group 5">
          <path
            id="D#_8"
            d="M291.307 61.3522L290.25 63.1826C289.661 62.9869 289.089 62.9093 288.534 62.9498C287.983 62.9854 287.46 63.117 286.968 63.3446C286.474 63.5644 286.024 63.8658 285.619 64.2487C285.215 64.6317 284.867 65.0742 284.578 65.5761C284.049 66.4913 283.802 67.454 283.835 68.464C283.872 69.4691 284.214 70.4506 284.861 71.4084C285.512 72.3613 286.492 73.2156 287.8 73.9713C289.109 74.727 290.339 75.1483 291.489 75.2351C292.643 75.3171 293.664 75.1226 294.552 74.6515C295.444 74.1755 296.154 73.4799 296.682 72.5647C296.972 72.0628 297.182 71.5408 297.311 70.9987C297.44 70.4567 297.479 69.9181 297.427 69.3829C297.373 68.84 297.223 68.3207 296.978 67.8248C296.731 67.3212 296.378 66.8648 295.919 66.4554L296.976 64.6249C297.669 65.2087 298.215 65.8588 298.615 66.5752C299.015 67.2916 299.273 68.044 299.388 68.8324C299.499 69.618 299.47 70.4118 299.303 71.2138C299.138 72.0108 298.835 72.7907 298.395 73.5534C297.65 74.8426 296.673 75.8072 295.464 76.4474C294.255 77.0876 292.903 77.3603 291.41 77.2655C289.916 77.1708 288.372 76.6632 286.778 75.7427C285.183 74.8223 283.972 73.739 283.143 72.4928C282.314 71.2466 281.874 69.9398 281.824 68.5724C281.774 67.205 282.121 65.8766 282.865 64.5874C283.306 63.8248 283.83 63.1727 284.437 62.6314C285.048 62.0851 285.724 61.6649 286.464 61.3708C287.2 61.0738 287.978 60.9194 288.798 60.9076C289.614 60.8929 290.45 61.0411 291.307 61.3522ZM306.526 58.9915L292.842 47.7842L293.694 46.308L307.379 57.5153L306.526 58.9915ZM298.362 63.45L297.023 62.3615L303.534 51.0835L304.874 52.172L298.362 63.45ZM303.458 64.3057L289.774 53.0985L290.626 51.6223L304.31 62.8295L303.458 64.3057ZM293.619 59.5302L292.279 58.4417L298.79 47.1637L300.13 48.2522L293.619 59.5302Z"
            fill="black"
          />
          <line
            id="Line 2_8"
            x1="198.701"
            y1="199.75"
            x2="298.701"
            y2="26.5449"
            stroke="black"
            stroke-width="2"
          />
        </g>
        <g id="Group 6">
          <path
            id="D#_9"
            d="M209.5 34.341V36.4547C208.892 36.5797 208.358 36.7984 207.898 37.1109C207.438 37.4177 207.052 37.7927 206.739 38.2359C206.421 38.6734 206.182 39.1592 206.023 39.6933C205.864 40.2274 205.785 40.7842 205.785 41.3638C205.785 42.4206 206.052 43.378 206.586 44.2359C207.12 45.0882 207.907 45.7672 208.946 46.2728C209.986 46.7728 211.262 47.0228 212.773 47.0228C214.285 47.0228 215.56 46.7728 216.6 46.2728C217.64 45.7672 218.427 45.0882 218.961 44.2359C219.495 43.378 219.762 42.4206 219.762 41.3638C219.762 40.7842 219.682 40.2274 219.523 39.6933C219.364 39.1592 219.128 38.6734 218.816 38.2359C218.498 37.7927 218.108 37.4177 217.648 37.1109C217.182 36.7984 216.648 36.5797 216.046 36.4547V34.341C216.938 34.5001 217.736 34.7899 218.441 35.2103C219.145 35.6308 219.745 36.1535 220.239 36.7785C220.728 37.4035 221.1 38.1052 221.356 38.8836C221.611 39.6564 221.739 40.4831 221.739 41.3638C221.739 42.8524 221.375 44.1763 220.648 45.3353C219.921 46.4944 218.887 47.4064 217.546 48.0711C216.205 48.7359 214.614 49.0683 212.773 49.0683C210.932 49.0683 209.341 48.7359 208 48.0711C206.66 47.4064 205.625 46.4944 204.898 45.3353C204.171 44.1763 203.807 42.8524 203.807 41.3638C203.807 40.4831 203.935 39.6564 204.191 38.8836C204.446 38.1052 204.821 37.4035 205.316 36.7785C205.804 36.1535 206.401 35.6308 207.106 35.2103C207.804 34.7899 208.603 34.5001 209.5 34.341Z"
            fill="black"
          />
          <line
            id="Line 2_9"
            x1="198.5"
            y1="200.5"
            x2="198.5"
            y2="0.499935"
            stroke="black"
            stroke-width="2"
          />
        </g>
        <g id="Group 7">
          <path
            id="D#_10"
            d="M142.563 58.0158L127.447 66.743L124.396 61.4583C123.788 60.4053 123.469 59.4317 123.438 58.5375C123.402 57.6462 123.593 56.857 124.01 56.1702C124.422 55.4861 124.997 54.9311 125.735 54.5049C126.385 54.1299 126.988 53.9359 127.544 53.9228C128.098 53.9049 128.606 54.0119 129.068 54.2438C129.527 54.4708 129.941 54.7667 130.309 55.1315L130.457 55.0463C130.219 54.5667 130.113 54.008 130.138 53.37C130.164 52.7321 130.361 52.0966 130.73 51.4635C131.1 50.8304 131.683 50.2838 132.48 49.8235C133.238 49.386 134.019 49.1648 134.823 49.1598C135.627 49.1548 136.42 49.4216 137.204 49.96C137.987 50.4985 138.722 51.3631 139.41 52.5539L142.563 58.0158ZM139.883 57.1228L137.786 53.4914C137.096 52.2957 136.374 51.5804 135.622 51.3456C134.862 51.1086 134.15 51.1819 133.486 51.5654C132.974 51.8609 132.577 52.264 132.294 52.7748C132.007 53.2884 131.872 53.8616 131.89 54.4944C131.902 55.1301 132.099 55.7776 132.48 56.4369L134.627 60.1569L139.883 57.1228ZM133.033 61.0773L131.073 57.6821C130.755 57.131 130.36 56.6965 129.887 56.3787C129.412 56.0559 128.903 55.8778 128.359 55.8442C127.811 55.8058 127.272 55.94 126.741 56.2468C126.077 56.6303 125.647 57.1869 125.451 57.9165C125.251 58.6489 125.44 59.517 126.02 60.5208L128.014 63.9751L133.033 61.0773Z"
            fill="black"
          />
          <line
            id="Line 2_10"
            x1="198.701"
            y1="201.25"
            x2="98.7013"
            y2="28.0449"
            stroke="black"
            stroke-width="2"
          />
        </g>
        <g id="Group 8">
          <path
            id="D#_11"
            d="M78.3963 105.466L80.3154 106.574L66.0377 118.485L64.1481 117.394L67.325 99.0735L69.244 100.181L66.4145 115.514L66.5326 115.582L78.3963 105.466ZM74.2787 110.961L66.5435 106.495L67.481 104.871L75.2162 109.337L74.2787 110.961ZM59.5677 94.5948L48.3604 108.279L46.8842 107.427L58.0915 93.7426L59.5677 94.5948ZM64.0262 102.759L62.9377 104.099L51.6597 97.5872L52.7482 96.2474L64.0262 102.759ZM64.8819 97.663L53.6746 111.347L52.1985 110.495L63.4057 96.8107L64.8819 97.663ZM60.1064 107.503L59.0179 108.842L47.7399 102.331L48.8284 100.991L60.1064 107.503Z"
            fill="black"
          />
          <line
            id="Line 2_11"
            x1="199.25"
            y1="201.799"
            x2="26.0453"
            y2="101.799"
            stroke="black"
            stroke-width="2"
          />
        </g>
        <g id="Group 4">
          <path
            id="D#_12"
            d="M340.149 142.245L335.484 144.938L326.757 129.822L331.628 127.01C333.095 126.163 334.524 125.742 335.917 125.744C337.307 125.743 338.605 126.144 339.811 126.95C341.015 127.751 342.069 128.934 342.972 130.499C343.881 132.073 344.383 133.591 344.479 135.051C344.571 136.507 344.257 137.849 343.537 139.079C342.814 140.303 341.684 141.359 340.149 142.245ZM336.377 142.258L339.093 140.69C340.343 139.968 341.24 139.129 341.783 138.172C342.327 137.216 342.543 136.176 342.432 135.052C342.321 133.928 341.911 132.752 341.201 131.521C340.496 130.301 339.69 129.366 338.783 128.715C337.873 128.059 336.886 127.724 335.821 127.709C334.753 127.689 333.629 128.02 332.448 128.702L329.525 130.389L336.377 142.258Z"
            fill="black"
          />
          <line
            id="Line 2_12"
            x1="192.25"
            y1="201.077"
            x2="365.455"
            y2="101.077"
            stroke="black"
            stroke-width="2"
          />
        </g>

        <line
          id="Line 3"
          x1="200"
          y1="200"
          :x2="lastPointXY.x"
          :y2="lastPointXY.y"
          stroke="#FF0000"
        />
        <circle
          v-for="(point, index) in pointsXY"
          :key="index"
          :cx="point.x"
          :cy="point.y"
          r="1.5"
          fill="#FF0000"
        />
      </g>
      <defs>
        <clipPath id="clip0_1_2">
          <rect width="400" height="400" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </div>
</template>

<script>
const CENTER_X = 200
const CENTER_Y = 200
const MAX_INDEX_TO_SHOW = 100
const MAX_LENGTH = 200

export default {
  name: 'TunerCircularDisplay',
  components: {},
  props: {
    history: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {}
  },
  computed: {
    lastPointXY() {
      return this.pointsXY[0] || { x: CENTER_X, y: CENTER_Y, angle: 0 }
    },
    pointsXY() {
      return this.history
        .map((historyPoint, index) => {
          if (!historyPoint || index > MAX_INDEX_TO_SHOW) {
            return null
          }
          const length = MAX_LENGTH - (index / MAX_INDEX_TO_SHOW) * MAX_LENGTH
          const angle = this.halfStepsToAngle(historyPoint.halfSteps)
          const x = Math.cos((angle / 180) * Math.PI) * length + CENTER_X
          const y = Math.sin((angle / 180) * Math.PI) * length + CENTER_Y

          return { x, y, angle }
        })
        .filter((x) => !!x)
    },
  },
  methods: {
    halfStepsToAngle(halfSteps) {
      return ((halfSteps % 12) / 12) * 360 - 90
    },
  },
}
</script>

<style>
</style>