<template>
  <div>
    <svg
      width="390"
      height="229"
      viewBox="0 0 390 229"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect width="390" height="229" fill="#4F4F4F" />

      <g v-for="line in lines" :key="line.x1">
        <line :x1="line.x1" :y1="line.y1" :x2="line.x2" :y2="line.y2" stroke="#A0A0A0" />
        <text fill="red" :x="line.x1" :y="220" font-weight="bold">
          {{ line.stepName }}
        </text>
      </g>

      <circle
        v-for="point in historyPoints"
        :key="point.x + ',' + point.y"
        :cx="point.x"
        :cy="point.y"
        stroke="#ff0000"
        fill="#ff0000"
        r="2"
      />
    </svg>
  </div>
</template>

<script>
import _ from 'lodash'
import music from '@/music'

const SHOWING_STEPS = 5 // use only odd numbers
const MAX_WIDTH = 390
const MAX_HEIGHT = 229
const Y_OFFSET = 20

export default {
  name: 'TunerDisplay',
  components: {},
  props: {
    history: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {}
  },
  computed: {
    middleStep() {
      return Math.round(this.history.find((x) => !!x)?.halfSteps || 48)
    },
    lines() {
      const betweenLines = MAX_WIDTH / SHOWING_STEPS

      return _.range(SHOWING_STEPS).map((i) => {
        const x = i * betweenLines + betweenLines / 2
        const step = i - Math.floor(SHOWING_STEPS / 2) + this.middleStep
        return {
          x1: x,
          y1: 0,
          x2: x,
          y2: MAX_HEIGHT,
          step,
          stepName: music.allNotes[step % 12],
        }
      })
    },
    historyPoints() {
      return this.history
        .map((value, i) => {
          if (value === null) {
            return null
          } else {
            return {
              x: (value.halfSteps - this.middleStep) * (MAX_WIDTH / SHOWING_STEPS) + MAX_WIDTH / 2,
              y: i * 2 + Y_OFFSET,
            }
          }
        })
        .filter((x) => !!x)
    },
  },
  methods: {},
}
</script>

<style></style>
