<template>
  <b-button @click="tunerInput.toggle">
    {{ tunerInput.isRunning.value ? 'Stop Tuner Input' : 'Start Tuner Input' }}
  </b-button>
</template>

<script setup lang="ts">
import useTunerInput from '~/composables/useTunerInput'
const tunerInput = useTunerInput()
</script>

<style>
</style>