<template>
  <div class="vertical-centered-column">
    <div class="block">
      It build Harmonic series for each pressed note and draws histogram, so you can analyze how
      different notes interact with each other.
    </div>
    <div class="block">
      <b-checkbox v-model="drawSum"> Draw sum </b-checkbox>
    </div>
    <div>
      <canvas
        ref="canvas"
        width="900"
        height="400"
        style="border: 1px solid black; background: #ccc"
      >
      </canvas>
    </div>

    <piano-instrument
      ref="piano"
      style="height: 100px; width: 100%"
      start-note="C3"
      end-note="B4"
      :colors="colors"
      :selected-notes="selectedNotes"
      :show-step="false"
      :with-midi="false"
      @noteOn="noteOn"
    >
    </piano-instrument>
  </div>
</template>

<script>
import _ from 'lodash'
import PianoInstrument from '@/components/instruments/PianoInstrument'
import { emitter } from '@/emitter'
import music from '@/music'
import * as colorsModule from '@/utils/colors'

const STEP_RATIO = 1.0594630943592953
const C3_FREQUENCY = 130.81
const NOTES_FREQUENCY_LIST = {}
music.getAllFullNotesRange('C3', 'B4').forEach((n, i) => {
  NOTES_FREQUENCY_LIST[n] = C3_FREQUENCY * STEP_RATIO ** i
})

export default {
  name: 'HarmonicVisualizer',
  components: { PianoInstrument },
  data() {
    return {
      selectedNotes: [],
      drawSum: true,
    }
  },
  computed: {
    colors() {
      const colors = {}
      this.selectedNotes.forEach((note) => (colors[note] = colorsModule.gray))
      return colors
    },
  },
  watch: {
    selectedNotes() {
      this.draw()
    },
    drawSum() {
      this.draw()
    },
  },
  mounted() {
    this.draw()
  },

  created() {
    emitter.on('midiNoteOn', this.noteOn)
    emitter.on('midiNoteOff', this.noteOff)
  },
  destroyed() {
    emitter.off('midiNoteOn', this.noteOn)
    emitter.off('midiNoteOff', this.noteOff)
  },
  methods: {
    getNoteFrequency(note) {
      return NOTES_FREQUENCY_LIST[note]
    },
    draw() {
      const canvas = this.$refs.canvas
      const MIN_FREQUENCY = 20
      const MAX_FREQUENCY = 7000
      const INTERVAL_AMOUNT = 900
      const INTERVAL_SIZE = (MAX_FREQUENCY - MIN_FREQUENCY) / INTERVAL_AMOUNT
      const START_AMPLITUDE = 1

      const ctx = canvas.getContext('2d')
      ctx.clearRect(0, 0, canvas.width, canvas.height)

      // text settings
      ctx.textBaseline = 'middle'
      ctx.textAlign = 'center'
      ctx.font = '18px Arial'
      ctx.strokeStyle = '#000000'
      ctx.lineWidth = 1

      if (this.drawSum && !!this.selectedNotes) {
        ctx.strokeStyle = '#FF0000'
        ctx.lineWidth = 1

        const frequencyList = []
        this.selectedNotes.forEach((note) => {
          const noteFrequency = this.getNoteFrequency(note)
          // let's calculate only 10 harmonics
          _.range(1, 17).forEach((i) => {
            frequencyList.push({
              frequency: noteFrequency * i,
              amplitude: START_AMPLITUDE / i,
            })
          })
        })

        // build histogram
        let histogram = _.range(0, INTERVAL_AMOUNT).map((_) => 0)
        frequencyList.forEach(({ frequency, amplitude }) => {
          const intervalIndex = Math.floor(frequency / INTERVAL_SIZE)
          histogram[intervalIndex] += amplitude
        })

        // normalize historgram
        const maxValue = _.max(histogram)
        histogram = histogram.map((x) => x / maxValue)

        ctx.beginPath()
        ctx.moveTo(0, canvas.clientHeight)
        histogram.forEach((value, i) => {
          ctx.lineTo(
            (i / INTERVAL_AMOUNT) * canvas.clientWidth,
            canvas.clientHeight - value * canvas.clientHeight
          )
        })
        ctx.stroke()
      }
    },
    noteOn(note) {
      if (this.selectedNotes.includes(note)) {
        this.selectedNotes = this.selectedNotes.filter((x) => x !== note)
      } else {
        this.selectedNotes = [...this.selectedNotes, note]
      }
    },
    noteOff(note) {
      if (this.selectedNotes.includes(note)) {
        this.selectedNotes = this.selectedNotes.filter((x) => x !== note)
      }
    },
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.piano {
  margin: 1em auto;
}
</style>
