<template>
  <div class="settings">
    <div>
      <b-checkbox v-model="playOnPress"> Play on press </b-checkbox>
    </div>
    <div>
      <b-field label="Instrument">
        <b-radio-button
          v-for="instrument in allInstruments"
          :key="instrument"
          v-model="selectedInstrument"
          type="is-primary is-light is-outlined"
          :native-value="instrument"
        >
          {{ instrument }}
        </b-radio-button>
      </b-field>
    </div>
    <div>
      <b-field label="Palette">
        <b-radio-button
          v-for="palette in allPalettes"
          :key="palette"
          v-model="selectedPalette"
          type="is-primary is-light is-outlined"
          :native-value="palette"
        >
          {{ palette }}
        </b-radio-button>
      </b-field>
    </div>

    <div v-if="selectedInstrument === 'ukulele'" class="block">
      <div>Ukulele tune:</div>
      <div v-for="(stringNote, i) in ukuleleTune" :key="i">
        <a @click="incrementUkuleleNote(i, -1)">⬅️</a>
        <input v-model="ukuleleTune[i]" style="width: 50px" @input="updateUkuleleNote()" />
        <a @click="incrementUkuleleNote(i, 1)">➡️</a>
      </div>
      <b-button @click="resetUkuleleTune">Reset</b-button>
    </div>

    <ukulele-instrument> </ukulele-instrument>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import * as colorsModule from '@/utils/colors'
import music from '@/music'
import UkuleleInstrument from '@/components/instruments/UkuleleInstrument'

export default {
  name: 'Settings',
  components: { UkuleleInstrument },
  data() {
    return {}
  },
  computed: {
    ...mapGetters(['allInstruments']),
    ukuleleTune() {
      return this.$store.state.ukulele.tune.slice()
    },
    selectedInstrument: {
      get() {
        return this.$store.state.instrument
      },
      set(value) {
        this.$store.commit('SET_INSTRUMENT', value)
      },
    },
    playOnPress: {
      get() {
        return this.$store.state.playOnPress
      },
      set(value) {
        this.$store.commit('SET_PLAY_ON_PRESS', value)
      },
    },
    allPalettes() {
      return Object.keys(colorsModule.allPalettes)
    },
    selectedPalette: {
      get() {
        return this.$store.state.paletteName
      },
      set(value) {
        this.$store.commit('SET_PALETTE_NAME', value)
      },
    },
  },
  methods: {
    incrementUkuleleNote(index, amount) {
      const newTune = this.ukuleleTune
      newTune[index] = music.noteIncr(newTune[index], amount)
      this.$store.commit('ukulele/SET_TUNE', newTune)
    },
    updateUkuleleNote() {
      const newTune = this.ukuleleTune
      this.$store.commit('ukulele/SET_TUNE', newTune)
    },
    resetUkuleleTune() {
      this.$store.commit('ukulele/RESET')
    },
  },
}
</script>
