<template>
  <div class="container is-max-desktop vertical-centered-column">
    <b-button @click="startStopClick">{{ isRunning ? 'Stop' : 'Start' }}</b-button>
    <div>
      <b-field label="Input device" horizontal>
        <b-select v-model="inputDevice" style="display: inline" :disabled="true">
          <option v-for="input in inputs" :key="input.deviceId" :value="input.deviceId">
            {{ input.label }}
          </option>
        </b-select>
      </b-field>
      <b-field label="Algorithm" horizontal>
        <b-select v-model="algorithm">
          <option value="YIN">YIN</option>
          <option value="AMDF">AMDF</option>
        </b-select>
      </b-field>
    </div>
    <div>
      <tuner-circular-display :history="history"> </tuner-circular-display>
    </div>
    <div>
      <tuner-display :history="history"></tuner-display>
    </div>
    <div style="margin-bottom: 2em">
      processTime: {{ processTime }}
      <pre style="text-align: left; min-height: 15em; min-width: 500px">{{
        JSON.stringify(detectedResult, null, 2)
      }}</pre>
    </div>
  </div>
</template>

<script>
import { ref } from 'vue'
import useTuner from '~/composables/useTuner'

export default {
  name: 'Tuner',
  components: {},
  setup() {
    const algorithm = ref('AMDF')
    const history = ref([])
    const historySize = 100

    const pitchUpdate = (pitch) => {
      history.value = [pitch, ...history.value].slice(0, historySize)
    }

    const { detectedResult, processTime, start, stop, isRunning } = useTuner(algorithm, pitchUpdate)
    return { detectedResult, processTime, start, stop, isRunning, history, algorithm }
  },
  data() {
    return {
      inputs: [],
      inputDevice: null,
    }
  },
  methods: {
    async startStopClick() {
      if (this.isRunning) {
        await this.stop()
      } else {
        await this.start()
      }
    },
    fillAllInputDevices() {
      navigator.mediaDevices.enumerateDevices().then((devices) => {
        const inputs = []
        for (const device of devices) {
          if (device.kind === 'audioinput') {
            inputs.push({
              label: device.deviceId === 'default' ? 'default' : device.label,
              deviceId: device.deviceId,
            })
          }
        }
        this.inputs = inputs
        if (inputs.length) {
          this.inputDevice = inputs[0].deviceId
        }
      })
    },
  },
}
</script>

<style></style>
